{{define "views/counter/rps-hour"}}

<div id="counter-rps-hour">
  <div class="flot-chart" style="height: 300px">
      <div class="flot-chart-content" id="counter-rps-per-hour"></div>
  </div>

  <script type="text/javascript">
  	$(function() {

  		$.plot($("#counter-rps-per-hour"),{{plotRpsAvg .stat.Rps.Day .stat.Rps.Time 3600}}, {
  			  xaxis: {
  					mode: "time",
  					timeformat: "%H:%M"
  			  },
  				yaxis: {
  						min: 0,
              tickFormatter: function(v, axis) {
                return v.toFixed(axis.tickDecimals) + " rps";
              }
  				}
  		});

      setTimeout(function() {
        $.get('/counters/rps-hour', function(data) {
          $('#counter-rps-hour').replaceWith(data)
        })
      }, 1000)
    });

  </script>

</div>

{{end}}
